@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,1),rgba(4,9,30,0.2)),url(images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
}

nav img{
    width:90px;

}


.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 19px;

}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #f44336;
    display: flex;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width:100%
}

.header .text{
    
    position: absolute;
    width:90%;
    color:#fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: 0.5s;
    
}
.text h1{
    font-size: 85px;
    position: relative;
    margin:0;
    padding: 0;
    text-align:center;
    font-family: "Sofia", sans-serif;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 230, 0), rgb(255, 230, 0), rgb(255, 230, 0), rgb(255, 238, 0),rgb(255, 255, 255), rgb(230, 230, 230), rgb(240, 240, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 10s infinite forwards;

}
@keyframes slide{
    0%{
        background-position-x:0% ;
    }
    100%{
        background-position-x:100vw ;
    }
}



.text p{
    margin: 5px 0 30px ;
    letter-spacing: 2px;
    font-size: 25px;

    
}
.text span{
    color: #fff;
    font-size: 15px;

}

.text .btn{
    position: relative;
    text-decoration: none;
    color:#fff;
    border: 2px solid #fff;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    font-family: "Sofia", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;



}



.text .btn:hover{
    background-color: #f44336;
    border: 2px solid #f44336;

}



#hamburger{
    display: none;
    cursor: pointer;
}



.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

#headerformbl{
    display: none;
}


@media screen and (max-width: 600px) {
    nav img{
        width:90px;
    
    }
    .nav-branding{
        display: none;
    }
    .header{
        width: -webkit-fill-available;
        
    }
    
    .header img{
        width:80px;
        margin-top: 20px;

        
    
    }
    .header .text h1{
        font-size: 50px;
    }
    .text p{
        letter-spacing:4px;
        font-size: 20px;

        
    }
    #headerformbl{
        top:0;
        right:0;
        display: flex;
        justify-content: space-between;
        width: 100%;
     
        box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    }
    
    .logo{
        position: absolute;
        height: 60px;
        line-height: 60px;
        color:darkblue;
        font-weight: 700;
        font-size: 1em;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content:center;
        align-items: center;
        padding-left: 20px;
        top:20px;
    
    }
    .logo img{
        size: 20px;
        z-index: 1500;
    }
    #toggle{
        border-radius: 50px;
        position:absolute;
        top: 20px;
        right: 0;
        width: 60px;
        height: 60px;
        
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        z-index:1500 ;
    
    }
    
    #toggle::before{
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transform: translateY(-5px);
        transition: 0.2s;
    
    }
    
    #toggle::after{
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transform: translateY(5px);
        transition: 0.2s;
    
    }
    
    #toggle.active::before{
        transform: translateY(0px) rotate(45deg);
    }
    
    
    #toggle.active::after{
        transform: translateY(0px) rotate(-45deg);
    }
    
    #toggle.active{
        background: #f7226a;
    }
    
    #navbar{
        position: absolute;
        height: 0;
        right: 100%;
        transition: 0.5s;
        width: 100vw;
        
    
   
        
        
    }
    #navbar.active{
      
       right: 5%;
    }
    #navbar ul{
        background:rgba(0, 0, 0, 0.95);
        
        position: absolute;
        display: flex;
        flex-direction: column;
        top:40vh;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        width: 70vw;
        height: 100vh;
        top:0;
       
        
        
    
    }
    #navbar ul li{
        list-style: none;
    }
    #navbar ul li a{

        color:white;
        text-decoration: none;
        height: 60px;
        line-height: 110px;
        
        font-size: 1.2em;
        padding: 0 15px;
        letter-spacing: 2px;
        justify-content: center;
        align-items: center;
    }
    #navbar ul li a:hover{
       
        color: #fff;
    }
    
}

.head #h1a{
    font-size: 60px;
    font-family: "Sofia", sans-serif;
}

.head p span{
    color:red;
    font-weight: 600;
}

.about{
    height: 100vh;
    width:80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
}

.row{
    margin: 5%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
} 
.about-col{
    flex-basis: 31%;
    background-color:#fff ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: red;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);

}



.about-col p{
    font-weight: normal;
    color:black;
}
.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    background-color:rgb(230,230,250);

}


.about-us .row{
    justify-content: center;
    align-items: center;
    
}

section .myslides{

    position: absolute;
    border-radius:5px;
    height: 45vh;
    width: 80vw;
    object-fit: cover;
    
}


@media screen and (max-width: 600px) {
    .row{
        margin: 8%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .about-col{
        margin-bottom: 15%;
        padding: 20px 12px;
       
    
    }
    section .myslides{
        border-radius: 6px;
        height: 45vh;
        width: 80vw;
        object-fit: cover;
    }
    .about{
        height: 100vh;
        width:80%;
        margin: auto;
        text-align: center;
        margin-top: 100px;
        overflow: hidden;
    }
    
}


.photoid{
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.photoid .container{

    position: relative;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.photoid .container .box{
    
    position: relative;
    width: 245px;
    height: 245px;
    overflow: hidden;
    transition: 0.5s;
    margin: 5px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    
}

.photoid .container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.photoid .container .box .imgBx{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}


.photoid .container .box .imgBx:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgb(224, 111, 111),#000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;

}

.photoid .container .box:hover .imgBx:before{
    opacity: 1;
}



.photoid .container .box .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;

}


.photoid .container .box .content{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding-left: 20px;
    align-items: flex-end;

}

.photoid .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 20px;
    transform: translateY(200px);
    

}

.photoid .container .box:hover .content h2 {
    transform: translateY(0);
    transition-delay: 0.4s;
}


.photoid .container .box .content p {
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}

.photoid .container .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.6s;
}




.swiper{
    display: none;
}



@media screen and (max-width: 600px) {
    
   
    .swiper {
       
        display: block;
        margin-top: 300px;
        width: 80%;
        margin-bottom: 0;
        
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
       

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit:contain;
        
      }






      





}

@media screen and (max-width: 375px) {
    .swiper {
       
        display: block;
        margin-top: 450px;
        width: 80%
      }    

}















.mbgl{
   display: none;
}



@media screen and (max-width: 600px) {
    .mbgl{
        display: block;
        height: 50vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 0px;

    }
   
   



}





.service-head #h1s{
    font-size: 65px;
    font-family: "Sofia", sans-serif;
    letter-spacing: 5px;
}

.service-head p span{
    color:red;
    font-weight: 600;
}
.service-para{
    display: none;
}
.service{
    height: 80vh;
    width:80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.service-row{
    margin: 5%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
} 
.service-col{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/f2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    flex-basis: 40%;
    background-color:#fff ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 100px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);

}

.sc{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/f1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    flex-basis: 40%;
    background-color:#fff ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 100px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);

}
.service p{
    font-weight: normal;
    font-size: 19px;
    
}
.service-col:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,5);
    background-color:rgb(230,230,250);

}
.service-row .service-col h1{
    font-size: 35px;
}


@media screen and (max-width: 600px) {
    .photoid{
        display: none;
    }
    .service{
        margin-top: 350px;
    }
    .service-row{
        margin: 18%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .service-col{
        margin-bottom: 15%;
        margin-left:-15%;
        width: 70vw;
        padding: 55px 0px;
       
    
    }
    
  

    .service-parah{
        display: none;
    }
    .service-para{
        margin-bottom: 25px;
        display:block;
    }
    .product{
        position: absolute;
     
        height: 60vh;
        width: 100vw;
    }
    
    .pr-gal{
        height: 60vh;
        width: 100vw;
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    
        align-items: center;
     
    }
    
    .product .pr-gal img{
    
        align-items: center;
        align-content: center;
        position: relative;
        height: 50vh;
        width: 100vw;
        object-fit: cover;
    }
    
}

.product{
    position: absolute;
    left: 10%;
    height: 60vh;
    width: 80%;
    
    z-index: 1000;
    align-items: center;
    
    
}

.pr-gal{
    height: 60vh;
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;

    align-items: center;
 
}

.product .pr-gal img{

    align-items: center;
    align-content: center;
    position: relative;
    height: 50vh;
    width: 200px;
    object-fit: cover;
}


@media screen and (max-width: 600px) {
    .pr-gal{
        height: 60vh;
        width:100%;
     
    }
    .product .pr-gal .pr-slides{
        height: 50vh;
        width: 70vw;
    }
    .brands h1{
        margin-top:140px;
        }
   
   



}

@media screen and (max-width: 375px) {


    .product .pr-gal{
        margin-top: 100px;
    }
    .product .pr-gal .pr-slides{
        height: 70vh;
        width: 80vw;
    }
    .brands h1{
        margin-top:200px;
        text-align: center;
        font-size: 40px;
        }
    .service{
            margin-top: 450px;
        }
    }

.brands{
    margin-top: 20px;
} 
.brands h1{

    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
}

.contact{
    height: 80vh;
    width:100%;
    margin: 25;
    text-align: center;
    margin-top: 450px;
}


.contact-us{
    position: relative;
   
}

.contact-us h1{
    font-size: 40px;
}

.contact-us h1 span{
    color: red;
}

@media screen and (max-width: 600px) {
    .contact{
        height: 80vh;
        width:100%;
        margin: 25;
        text-align: center;
        margin-top: 550px;
    }
    .location iframe{
        width: 100%;
        height:50vh;
    }
}

    

    @media screen and (max-width: 375px) {
        .contact{
            height: 80vh;
            width:100%;
            margin: 25;
            text-align: center;
            margin-top: 600px;
        }
        .location iframe{
            width: 100%;
            height:50vh;
        }
    
        }

        @media screen and (max-width: 390px) {
            .text p{
                letter-spacing: 1px;
                font-size: 20px;
            
                
            }


        }
        @media screen and (max-width: 393px) {
            .text p{
                letter-spacing: 1px;
                font-size: 20px;
            
                
            }


        }
        @media screen and (max-width: 360px) {
            #text {
                font-size:35px;
            
                
            }

        }

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe{
    width: 100%;
}

.contact-me{
    width: 80%;
    margin:auto;
    
    
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    margin-top: 60px;
}

.contact-col div{
    display: flex;
    align-items:center ;
    margin-bottom:40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;

}
.contact-col div p{
    padding: 0;
}

.contact-col h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}



.contact-col div .fa-facebook{
    
    color: #4267B2;
    margin: 10px;
    margin-right: 30px;

}
.contact-col div .fa-whatsapp{
    
    color: #34B7F1;
    margin: 10px;
    margin-right: 30px;

}
.contact-col div .fa-instagarm{
    
    color: #8a3ab9;
    margin: 10px;
    margin-right: 30px;

}




@media screen and (max-width: 600px) {
    
    .contact-col h5{
        font-size: 15px;
        margin-bottom: 5px;
        color: #555;
        font-weight: 400;
    }
    .contact-col{
        margin-top: 10px;
    }
    
    

    }

@media screen and (max-width: 600px) {
       
}
    

.btn{
        position: relative;
        text-decoration: none;
        color:#f44336;
        border: 2px solid #f44336;
        padding: 12px 34px;
        transition: 0.5s;
        cursor: pointer;
        background-color: transparent;
    
    
    }
.btn:hover{
        color: #fff;
        background-color: #f44336;
        border: 2px solid #f44336;
    
    }
    

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;

}
.contact-col .btn{
    margin: 5px;
}

.header .whatsapp img{
    right:5%;
    position: absolute;
    top:88%;
    width: 52px;
}

.bkhome img{
    width:50px;
    float: right;
    padding: 20px;
    margin-bottom: 0;
    animation: backimg 5s infinite ;
    transform: translateY(0);

    
}

.contact-col h1{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

@keyframes backimg{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

.caption{
    position:absolute;
    font-size: 15px;
    width: 100%;
    align-items: center;
    text-align: center;
    
}
.caption h3{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-top:82px;
    opacity: .7;
}
.caption span{
  
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    font-weight: 900;
}



@media screen and (max-width: 600px) {
    .caption{
        font-size: 15px;
        width: 100%;
        align-items: left;
        text-align: left;
        
    }
    .caption h3{
        font-size: 10px;
        justify-content: center;
        align-items: center;
        margin-top:50px;
        padding-left:20px;
        opacity: .7;
    }
    .caption span{
      
        font-family: 'Sacramento', cursive;
        font-size: 15px;
        font-weight: 900;
         padding-left:40px;
    }
    

}

.footerimg{
    width:98vw;
    align-items: center;
    justify-content: center;
    display:flex
}
.footerimg img{
   
    width: 50%;
    height: 150px;
    
   
}


@media screen and (max-width: 600px) {
    .footerimg img{
        display: flex;
        object-fit:cover;
        
    }

    




}